<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'customer\listing.css' %}">
</head>
<body>
    <nav>
        <div class="left-container">
            <img src="../images/back-button.png" alt="">
            <p>{{Category}}</p>
        </div>
    </nav>
    {% for sp in list  %}
    <section class="gig-card">
        <div class="component">
            <div class="top">
                <p>{{sp.category}}</p>
               
            </div>
            <div class="middle">
                <div class="middle-left">
                    <img src= "http://127.0.0.1:8000/media/{{ sp.profilePhoto }}" alt="">
                    <p>{{sp.Name}}</p>
                </div>  
                <div class="midle-right">
                    {{sp.Distance}} km
                </div>
            </div>
            <div class="bottom">
                {{sp.description}}
            </div>
            
            <div class="cta">
                <a href="request/{{sp.id}}/"><p>Request</p></a>
                
            </div>
            <p id = {{sp.id}}><p>
        </div>
        
    </section>
    {% endfor %}
</body>
<script>
    const serviceProviders = [
        {% for sp in list %}
            {
                id: {{ sp.id }},
                name: "{{ sp.name }}",
                // Add more fields as needed
            },
        {% endfor %}
    ];
</script>

<!-- Use the JavaScript variable in your script -->

    

<script>
    // script.js
    console.log(serviceProviders)
    // Set a timeout to delay the execution
    document.addEventListener('DOMContentLoaded', function() {
        // Set a timeout to delay the execution
        setInterval(() => {
            fetchData({{ sp.id }});
        }, 2000);  // 2000 milliseconds (2 seconds)
    });
    


   
    const fetchData = () => {
        for (const sp of serviceProviders) {
            fetch(`http://127.0.0.1:8000/cust/available/${sp.id}`)
            .then(response => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then(data => {
              // Update the HTML element based on the fetched data
              
                updateElement(data.id, data.status);
              
            })
            .catch(error => {
              console.error('Error fetching data:', error);
            });
        }
       
    }
  

function updateElement(elementId, content) {
    // Update the HTML element content
    const element = document.getElementById(elementId);
    if (element) {
        console.log(content)
        if(content){
            element.innerHTML= "Available"
        }else{
            element.innerHTML= "Not Available"
        }
    } else {
        console.error(`Element with id '${elementId}' not found.`);
    }
}

</script>
</html> 