<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Lsp\login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>User Login</h2>
        <div class="login">
            <form id="myForm" action="" method="POST">
                {% csrf_token %}
                <input type="username" name="username" placeholder="enter email" class="email" required>
                <input type="password" name="password" id="pwd" placeholder="enter password" required>
                <div class="pwdcls">
                    <input type="checkbox" onclick="togglefunc()" id="cp">
                    <p>show password</p>
                </div>
                <button type="submit">login</button>
            </form>
        </div>
        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    </div>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>